<div class="row">
  <div class="col s12">
    <h3>How To Play</h3>
    <p>Pokemon Ruby-On-Rails is a simple game based on the popular franchise, Pokemon! It is a simplified version of the popular game for the Nintendo systems. In this game, you will be able to create a trainer and choose a starting pokemon. You will be able to encounter wild pokemon, battle them, and either capture or defeat them. Good luck trainer!</p>
  </div>
</div>
