<div class="row">
  <div class="col s12">
    <h3>How To Play</h3>
    <p>Pokemon Ruby-On-Rails is a simple game based on the popular franchise, Pokemon!</p>
    <h4>Trainer</h4>
    <p>First, you need to create a profile with a nickname, email, password, age, and gender. You also get to choose from 1 of 3 starter pokemon.</p>
    <p>Each trainer starts with 20 Poke-tokens. You may claim 2 Poketokens every 2 hours. These Poke-tokens can be used to perform actions in the game, including challenging a gym, training your pokemon, and capturing wild pokemon. (See Poke-tokens section)</p>
    <p>As a trainer, you are allowed to collect Pokemon. You may have 6 Pokemon in your starting party, and any Pokemon you capture thereafter will be sent to your storage. Depending on whether they are in your starting party or storage, the Pokemon may or may not be able to perform actions. (See Pokemon section)</p>
    <p>You are also allowed to take over a Gym by challenging a Gym with one of your Pokemon. If you succeed, you become that Gym's new  Gym leader. (See Gym section)</p>
    <h4>Poke-tokens</h4>
    <p>You may claim 2 Poke-tokens every 2 hours. You can check how long it will be until your next Poke-token by going to your trainer page. If your next Poke-token is due, you can click the "Claim Poke-Token" button to claim your Poke-token and reset the timer. Uses for Poke-Token include:</p>
    <ol>
      <li>Pokeballs - Used for capturing a Wild Pokemon. Each different Pokeball costs a different amount of Poke-tokens (Pokeball - 1 Poke-token, Great Ball - 2, Ultra Ball - 3, Master Ball - 7)</li>
      <li>Training - You may leave your Pokemon at one of 3 training centers (Physical Training, Pokemon Contest, Daycare) to increase their stats. These cost 3 Poke-tokens.</li>
      <li>Gym Challenges - Gym challenges cost 5 Poke-tokens. You may choose one of your starter Pokemon and challenge a Gym. Win or lose, you will use 5 Poke-tokens</li>
    </ol>
    <h4>Pokemon</h4>
    <p>An overview of all Pokemon can be seen in the 'Pokedex' tab in the navigation bar. This will show you the roster of all the Pokemon in this game, along with its base stats, and all of the trainers who currently own that particular pokemon.</p>
    <p>Your starter Pokemon can perform actions, such as Gym Challenges or training. They may only perform one action at a time, meaning if your Pokemon is undergoing a Gym Challenge, they cannot undergo training as well. Your storage Pokemon cannot perform any actions.</p>
    <p>You can only have a maximum of 6 Pokemon in your starters, and the rest will be placed in your storage. You may switch Pokemon between your starters and storage by going to the 'My Pokemon' tab. Pokemon undergoing an action cannot be placed in the storage until the action is complete.</p>
    <p>You also have a lead Pokemon, which is just one of your starter Pokemon. This essentially does nothing, except changes which Pokemon appears when you search for Wild Pokemon. Your lead Pokemon cannot be moved to the storage.</p>
    <h5>Wild Pokemon</h5>
    <p>You may capture Pokemon by searching for Wild Pokemon by going to the 'Capture Pokemon' tab. Looking for Wild Pokemon costs no Poke-tokens and you may do it as much as you want, but it will cost Poke-tokens to attempt to throw a Pokeball to capture them. Each Pokeball has a greater chance to capture the Pokemon depending on how much it costs to throw. Wild Pokemon can either run away, escape the Pokeball but remain found, or be captured. Only the Master Ball guarantees capture success.</p>
    <h5>Training</h5>
    <p>There are three types of training, that all tke 2 hours to complete, and give your Pokemon 1 experience. However, each of the trainings has different benefits upon completion. Physical training increases your Pokemon's Attack and Defense, Pokemon Contest increases your Pokemon's Special Attack and Special Defense, and the Daycare increases your Pokemon's HP and Speed. While a Pokemon is undergoing a training, it will not be able to perform any other actions until it is complete.</p>
    <h5>Levels</h5>
    <p>Each Pokemon starts at level 1 with 0 experience. To level up, a Pokemon must gain 5 experience (gained by either winning a gym challenge, or finishing one of the three trainings). Leveling up will increase your Pokemon's stats.If a Pokemon has an evolution, it has the chance to evolve at either level 4 or level 8, depending on how many evolutions it has. You can evolve a Pokemon by going to its Pokemon page, where an "Evolve" option will appear if your Pokemon meet the requirements.</p>
    <h4>Gym</h4>
    <p>There are 8 different Gym's, each with a different Specialty. All Pokemon that battle in that Gym that matches the Speciality (or Type) will gain a temporary stat boost in that challenge. Each Gym may be occupied by one trainer (the Gym Leader) and one Pokemon of his/her choice. A Gym may be challenged by a different Trainer for 5 Poke-tokens. Only one trainer may challenge the Gym at a time. This challenge will last 2 hours. After a winner is determined, there will be a 1 hour grace period where that Gym cannot be challenged by anyone. Trainers that win a Gym challenge become or remain the Gym Leader. Pokemon that win a Gym challenge gain 1 experience and become or remain the Gym Pokemon. A trainer may own more than 1 Gym. For every 4 hours that your pokemon holds a Gym with you as Gym Leader, you add an additional 1 Poke-Token to your 'loot', which will be claimed after you lose the Gym.</p>
    <h5>Gym Challenges</h5>
    <p>The outcome of the challenge is determined by a cumulation of the stats of both Pokemon. Each Pokemon will have a higher or lower chance on winning based on their stats, as well as the type of both Pokemon. However, the Pokemon with the higher chance is not guaranteed to win.</p>
  </div>
</div>
