<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <p>Pokemon Game is a simple game based on the popular franchise, Pokemon! It is a simplified version of the popular game for the Nintendo systems. In this game, you will be able to create a trainer and choose a starting pokemon. You will be able to encounter wild pokemon, battle them, and either capture or defeat them. Good luck trainer!</p>
    <br>
  </body>
</html>
