<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokemon Game</title>
  </head>
  <body>
    <h1>Welcome to the Pokemon Game!</h1>
    <%= link_to "All Trainers", trainers_path %>
    <br></br>
    <%= link_to "Pokédex", pokedex_index_path %>
    <br></br>
    <%= link_to "About", about_path %>
  </body>
</html>
