<div class="center">
  <h2>Pokemon</h1>
  <h2>Ruby-On-Rails</h1>
  <%= link_to "All Trainers", trainers_path %>
  <br></br>
  <%= link_to "Pokédex", pokedex_index_path %>
  <br></br>
  <%= link_to "About", about_path %>
</div>
