<div class="row">
  <div class="col s12">
    <h3>Patch Notes</h3>
    <ul>
      <li>2/25/17 - Added demo button/account</li>
      <li>2/24/17 - Added option to change trainer avatar in edit page</li>
    </ul>
  </div>
</div>
