<div class="row">
  <div class="col s12 center">
    <br><br><br>
    <%= image_tag("gifs/capture.gif", class: "gif") %>
    <br>
    <%= link_to "See New Pokemon", pokemon_path(current_trainer, @pokemon_count), class: "btn" %>
  </div>
</div>
