<div class="row">
  <h3><%= @gym.name + " City Gym" %></h3>
  <h5>Gym Leader: <%= link_to @gym.gym_leader.name, trainer_path(@gym.gym_leader) %></h5>
  <h5>Pokemon: <%= link_to @gym.gym_pokemon.name, pokemon_path(@gym.gym_leader, @gym.gym_pokemon) %></h5>
  <!-- put in controller? -->
  <!-- add gyms owned in trainer profile -->
</div>
