<div class="row">
  <div class="col s12">
    <h3>Current Team</h3>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <% if @trainer.starters.blank? %>
    <p>No Pokemon in current team</p>
    <% else %>
    <ul>
      <% @trainer.starters.each.with_index(1) do |pokemon, index| %>
      <li class="sprite-image"><%= link_to image_tag("pokemon-sprite/#{Pokedex.find_by(name: pokemon.name).id}.png", class: "sprite-image"), pokemon_path(@trainer, index)%></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h3>In Storage</h3>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <% if @trainer.storage.blank? %>
      <p>No Pokemon in storage</p>
    <% else %>
    <ul>
      <% @trainer.storage.each.with_index(7) do |pokemon, index| %>
      <li class="sprite-image"><%= link_to image_tag("pokemon-sprite/#{Pokedex.find_by(name: pokemon.name).id}.png", class: "sprite-image"), pokemon_path(@trainer, index)%></li>
      <% end %>
    <% end %>
    <br><br>
    <%= button_to "Back To Trainer #{@trainer.name}'s Page", trainer_path(@trainer), method: :get, class: "btn" %>
    </ul>
  </div>
</div>
