/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

nav {
  background-color: red;
}

html, body, .container {
  height: 100%;
  width: 100%;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 30%;
  opacity: 0.2;
  z-index: -1;
}

div.row {
  z-index: 0;
}

.container div.row {
  margin: 10px;
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

div.card-panel {
  height: 50px;
}

div.card-panel p {
  display: inline;
  bottom: 10px;
  position: relative;
}

ul.roster {
  height: 110px;
  width: 160px;
}

div.card {
  margin-right: 10px;
}

td {
  width: 150px;
}

.gym_leader {
  color: red;
}

.challenger {
  color: blue;
}

.btn {
  margin-top: 5px;
}

.card {
  height: 500px;
  width: 250px;
}

.in_use {
  color: orange;
}

.open {
  color: green;
}

label {
  font-size: 20px;
  color: #616161;
}

select.select {
  width: 200px;
}

img.pokemon-image {
  height: 200px;
  width: 200px;
}

img.small-picture {
  height: 50px;
  width: 50px;
}

.sprite-image {
  height: 50px;
  width: 50px;
  display: inline;
}

img.type {
  height: 21px;
  width: 48px;
}

img.gym-image {
  height: 200px;
  width: 200px;
}

img.center-image {
  display: block;
  margin: 0 auto;
}

img.gym-pokemon {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
}

img.badge {
  height: 40px;
  width: 40px;
}

img.trainer-image {
  height: 440px;
  width: 180px;
}

img.root {
  height: 200px;
  width: 160px;
  margin-left: 20px;
  margin-top: 250px;
}

img.trainer-left {
  height: 330px;
  width: 140px;
  margin-top: 100px;
}

img.trainer-right {
  height: 330px;
  width: 140px;
  margin-top: 100px;
}

img.logo {
  height: 185px;
  width: 500px;
}

img.med-image {
  height: 500px;
  width: 500px;
  margin-top: 100px;
}

img.gif {
  height: 300px;
  width: 500px;
}
